<div class="container" [ngStyle]="{
    'background-image': 'url(' + dayNightGif + ')',
    'background-size': 'cover',
    'background-position': 'center',
  }">
  <div class="card">
    <div class="card-body">
      <!-- <h5 class="card-title">Weather App</h5> -->
      <form (ngSubmit)="getWeather(city)">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Enter city" [(ngModel)]="city" name="city" required />
          <button class="btn btn-primary" type="submit" [disabled]="loading">
            <svg 
              *ngIf="!loading" 
              xmlns="http://www.w3.org/2000/svg" 
              width="16" 
              height="16" 
              fill="currentColor" 
              class="bi bi-search" 
              viewBox="0 0 16 16"
            >
              <path 
                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.415l-3.85-3.85a1.007 1.007 0 0 0-.115-.098zm-5.442.656a5.5 5.5 0 1 1 0-11 5.5 5.5 0 0 1 0 11z"
              />
            </svg>
            <span *ngIf="loading">Loading...</span>
          </button>
          
        </div>
      </form>
      <!-- <div class="gif-box">
        <img [src]="weatherGif" alt="" />
      </div> -->
      <div *ngIf="message" class="alert">
        <p>{{ message }}</p>
        <img [src]="weatherGif" alt="">
      </div>
      <div *ngIf="weather" class="weather-info">
        <div class="row d-flex">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="temperature-info">
              <h3 class="city-name">{{ weather.name }}</h3>
              <h1 class="temperature"><i class="icon wi wi-thermometer"></i> {{ weather.main.temp }}°C</h1>
              <p class="feels-like">Feels Like: <b>{{ weather.main.feels_like }}</b>°C</p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="gif-box">
              <img [src]="weatherGif" alt="" />
            </div>
          </div>

        </div>

        <div class="weather-details row">
          <div class="detail-box col-lg-4 col-md-4 col-sm-12">
            <i class="icon wi wi-barometer"></i>
            <p>Pressure</p>
            <p><span class="highlight">{{ weather.main.pressure }}</span> hPa</p>
          </div>
          <div class="detail-box col-lg-4 col-md-4 col-sm-12">
            <i class="icon wi wi-humidity"></i>
            <p>Humidity</p>
            <p><span class="highlight">{{ weather.main.humidity }}</span> %</p>
          </div>
          <div class="detail-box col-lg-4 col-md-4 col-sm-12">
            <i class="wi wi-strong-wind"></i>
            <p>Wind Speed</p>
            <p><span class="highlight">{{ weather.wind.speed }}</span> m/s</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>